*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 苹方;
}
i{
    font-style: normal;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 100px;
}
@media (min-width: 320px) {
    html{
        font-size: 42.66667px;
    }
}
@media (min-width: 360px) {
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px) {
    html{
        font-size: 50px;
    }
}
@media (min-width: 414px) {
    html{
        font-size: 55.2px;
    }
}
img{
    display: block;
}
@font-face {
    font-family: 'iconfont';  /* project id 1019650 */
    src: url('//at.alicdn.com/t/font_1019650_ytcnmja86nh.eot');
    src: url('//at.alicdn.com/t/font_1019650_ytcnmja86nh.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1019650_ytcnmja86nh.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1019650_ytcnmja86nh.woff') format('woff'),
    url('//at.alicdn.com/t/font_1019650_ytcnmja86nh.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1019650_ytcnmja86nh.svg#iconfont') format('svg');
}